:root {
  --primary-color: #a6a3af;
  --secondary-color:var #13a7dd;
  --tertiary-color:var #e5c7a4;
  --accent-color:var #d77f13;
}

html {
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 1rem;
  color: white;
}

p {
  margin: 0.5rem;
}

.bg-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
}

.button {
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
}

.button-submit {
  background-color: var(--accent-color);

}


.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.gap {
  gap: 1rem;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;

}

.rounded {
  border-radius: 0.5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.text-bold {
  font-weight: bold;
}

.text-center {
  text-align: center;
}

.text-italic {
  font-style: italic;
}

#hero {
  background-image: url("./images/bg.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh; 
  height: 50vh;
}
